<header class="layout-header">
  <p-menubar [model]="menuItems" styleClass="layout-menubar">
    <ng-template pTemplate="start">
      <div class="app-brand">
        <div class="app-brand__logo" aria-hidden="true">FA</div>
        <div class="app-brand__name">FreelanceApp</div>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <p-button
        type="button"
        class="logout-button"
        icon="pi pi-sign-out"
        label="Deconnexion"
        severity="danger"
        variant="outlined"
        (onClick)="logout()"></p-button>
    </ng-template>
  </p-menubar>
</header>

<main class="layout-content">
  <div class="layout-content__inner">
    <router-outlet></router-outlet>
  </div>
</main>
