<header class="layout-header">
  <nav class="layout-nav">
    <a pButton routerLink="/dashboard" severity="secondary" variant="text">Dashboard</a>
    <a pButton routerLink="/missions" severity="secondary" variant="text">Missions</a>
    <a pButton routerLink="/invoices" severity="secondary" variant="text">Invoices</a>
    <p-button
      type="button"
      class="logout-button"
      icon="pi pi-sign-out"
      label="Deconnexion"
      severity="danger"
      variant="outlined"
      (onClick)="logout()"></p-button>
  </nav>
</header>

<main class="layout-content">
  <router-outlet></router-outlet>
</main>
